* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#home ul {
    height: 100vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home ul li {
    display: table;
    border: 1px solid #000;
    border-radius: 10px;
    width: 120px;
    height: 75px;
    margin: 0 10px 10px 0;
}
#home ul li, #home ul li a {
    color: #000;
    background: #fff;
}
#home ul li:hover, #home ul li:hover a {
    color: #fff;
    background: #000;
}
#home ul li a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
#home ul li a:hover, #home ul li a:visited {
    text-decoration: none;
}

#audio article {
    height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px;
}
#audio.picture article {
    height: 25vh;
}

#audio #main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#audio.picture #main {
    height: 75vh;
}

#audio #questions {
    display: flex;
    justify-content: flex-start;
}

#audio section {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}
#audio.picture section {
    flex-grow: 1;
    height: unset;
    width: unset;
}

#audio section h1 {
    margin: 0;
    padding: 0;
}

#audio section button {
    display: block;
    height: 50px;
    width: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

#audio section img {
    max-width: 56vw;
}

#audio section p {
    font-size: 10px;
}

#audio .previous, .next {
    height: 120px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    font-size: 40px;
}

#audio button:focus {
    outline: 0;
}

#audio .previous:hover, .next:hover {
    background: #333;
}

#audio .previous {
    transform: rotate(180deg);
}
